tmp/
bin/
obj/
*.sdf
*.suo
*.opensdf
*.user
*.nvuser
*.orig
.vscode
data/.lumix
data/lumix.log
data/studio.ini
.lumixuser
*.unv.bak
projects/3rdparty
!projects/bin/
plugins/
src/engine/plugins.inl
data/.shader_cache_dx11
projects/itch_io/
!data/editor/scripts/plugins/


syntax: glob

*.ncb
*.suo
*.user
*.orig
*.db
*.sdf
*.opensdf
*.ipch
*.tlog
*.pdb
*.lastbuildstate
*.log
*.unsuccessfulbuild
*.idb
*.cd
*.opendb
*.db-shm
*.db-wal
*.cache
*.ide
*.tmp
*.d
*.dblite
*.arcconfig
*.spv
*spv.glsl.txt
*.generated.*

compile_commands.json

/Data/ZilchCustomPluginShared/
Temp/
/Build/
node_modules/
enc_temp_folder/
.vs
.vscode
package-lock.json
