[submodule "External/Glew/Repo"]
	path = External/Glew/Repo
	url = https://github.com/WelderFoundation/glew.git
    branch = welder_updates2
[submodule "External/Libpng/Repo"]
	path = External/Libpng/Repo
	url = https://github.com/WelderFoundation/libpng.git
    branch = welder_updates2
[submodule "External/Nvtt/Repo"]
	path = External/Nvtt/Repo
	url = https://github.com/WelderFoundation/nvidia-texture-tools.git
    branch = welder_updates2
[submodule "External/Opus/Repo"]
	path = External/Opus/Repo
	url = https://github.com/WelderFoundation/opus.git
    branch = welder_updates2
[submodule "External/SDL/Repo"]
	path = External/SDL/Repo
	url = https://github.com/WelderFoundation/SDL.git
    branch = sdlupdate_sdl2
[submodule "External/ZLib/Repo"]
	path = External/ZLib/Repo
	url = https://github.com/WelderFoundation/zlib.git
    branch = welder_updates
